.brandname {
    margin-top: 25px;
    background-color: #01ab0186;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 480px) {
    .brandname {
        margin-left: 600px;
        font-size: 20px;
    }
    .mobuser{
      display: none;
    }
}

@media (max-width: 480px) {
    .brandname {
        width: 140px;
        height: 30px;
        font-size: 12px;
        margin-left: 70px;
      
    }

    .mobuser{
     display: flex;
     flex-direction: column;
   position: absolute;
   top: 65px;
   right: 25px;
   background-color: #40a440;
   padding: 10px;
   border-radius: 10px;
   text-decoration: none;
   color: black;
    }
 .logoutbtn{

  width: 60px;
  height: 30px;
  font-size: 20px;
  
 }
}





.authbrandname{
    margin-top: 25px;
    background-color: #01ab0186;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 480px) {
    .authbrandname {
        margin-left: 600px;
        font-size: 18px;
        font-family: 'tabular', sans-serif;
    }
}

@media (max-width: 480px) {
    .authbrandname {
        width: 150px;
        height: 35px;
        font-size: 12px;
        font-family: 'tabular', sans-serif;
        }
}

.bi{
    font-size: 25px;
    @media (max-width: 480px) {
     font-size:20px;
    }

  }

  @media (max-width: 480px){
    .hamburger-btn{
      margin-top: 20px;
  background-color: transparent;
   border-radius: 10%;
   border: none;
   margin-left: px;
   font-size: 23px;
text-align: center;

    }
  }
@media (min-width: 480px){
  .hamburger-btn{
    display: none;
  
  }
}

.searchbar{

@media (max-width: 480px) {
width: 75%;
background-color: #01ab0186;
padding: 5px;
border-radius: 20px;
min-height: 50px;
max-height: auto;
}

@media (min-width: 480px) {
width: 50%;
background-color: #01ab0186;
padding: 5px;
border-radius: 20px;
min-height: 50px;
max-height: auto;
}

}


.voiceimg{

  width: 40px;
  height: 40px;
  border:   1px solid #0e510e;
padding: 5px;
border-radius: 50%;
}


.usericon > img{
 width: 30px;
 height: 30px;
 margin-top: 25px;
 margin-left: 60px;
@media (min-width: 480px) {
display: none;
}
  

 
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.card{


  margin-left: 500px;
  margin-top: 180px;



  @media (max-width: 480px) {
    margin-top: 150px;
    margin-left: 30px;
    width: 18rem ;
    height: 24rem ;
  }

}

.card-body{

  width: 20rem;
  height: 25rem;
}

.userdesk{
display: flex;
justify-content: end;
margin-top: -90px;
margin-right: 50px;
@media (max-width: 480px) {
  display: none;
}


}
  

@media (min-width: 480px) {
  .offcanvas-backdrop {
    display: none !important;
  }
  
  /* Make offcanvas always visible and static */
  .offcanvas {
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
    pointer-events: auto !important;
 
  }
 
}

@media (min-width: 992px) { /* Bootstrap's 'lg' breakpoint */
  .offcanvas.offcanvas-start {
    width: 300px !important; /* Custom width for desktop */
   background-color: #62bc6b;
  }
}

/* AIBall.css */
.ai-ball {
  position: fixed;
  bottom: 250px;
    right: 600px;
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, #6f86d6, #48c6ef);
  border-radius: 50%;
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 20px rgba(72, 198, 239, 0.5);
  z-index: 999;
  @media (max-width: 480px) {
    position: fixed;
    bottom: 300px;
    right: 120px;
    width: 150px;
    height: 150px;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}


.close{

    
position: fixed;
bottom: 40px;
right: 720px;
border: 1px solid #0e510e;
border-radius: 50%;
background-color: #83ca83;
font-size: 45px;
cursor: pointer;
color: black;




@media(max-width: 480px) {
  position: fixed;
bottom: 50px;
right: 160px;
}

}


.hello{
  margin-top: 200px;
   font-size: 4vh;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.you{
  @media (max-width: 480px) {

    margin-left: 20px;
    margin-top: 40px;
  }
  @media (min-width: 480px) {
    margin-left: 400px;
    margin-top: 40px;
  }
}

.assistant{
  @media (max-width: 480px) {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  @media (min-width: 480px) {
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.chatarea {
  height: 70vh;
  max-width: 1100px;
  margin: 20px auto;
  margin-left: 300px;
  margin-right: 50px;
  padding: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  @media (max-width: 480px) {
    margin-left: 10px;
max-width: 100%;

}
}

.message-item {
  margin-bottom: 15px;
}

.message-item p {
  padding: 10px 15px;
  border-radius: 18px;
  max-width: 80%;
  word-wrap: break-word;
}

.you {
  background: #e3f2fd;
  margin-left: auto;
  margin-right: 0;
  border-bottom-right-radius: 4px;
  font-family: 'ranade', sans-serif;
}

.assistant {
  background: #f1f1f1;
  margin-right: auto;
  margin-left: 0;
  border-bottom-left-radius: 4px;
  font-family: 'satoshi', sans-serif;
  @media (max-width: 480px) {
    width: 100%;
    
}
}

.text-center {
  text-align: center;
  color: #666;
  padding: 20px;
}

@media (max-width: 480px) {
  .signlogin{
    display: none;
  }
  
}


.signlogin{
margin-top: 20px;

}

.signlogin > .btn{
margin-left: 10px;

}


.search{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.bevellier{
  font-family: 'tabular', sans-serif;
  font-weight: 900;
}

.ranade{
  font-family: 'ranade', sans-serif;
}


.offcanvas{
  scrollbar-width: none;
  -ms-overflow-style: none;  
}
  
.offcanvas::-webkit-scrollbar {
  display: none;
}




/* Ensure the offcanvas body can scroll */
.offcanvas-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}

.list-group-item.active{
  background-color: #59c664 !important;
  color: black !important;
}
  


.searchbar{
  max-width: 500px;
}

@media (max-width: 480px) {
  .searchbar{
    max-width:700px;
 
  }
  
  
}
@media (max-width: 480px) {

.nomsg{
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}
}

@media (min-width: 480px) {
  .nomsg{
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 100%;
   }

.logo>img{
  width:35px;
  height:35px;
  margin-top:"-5px";


}

.logoname{
 font-size: 20px;
 margin-left: -1px;
 margin-top: 3px;

}





}

@media (max-width: 480px) {
  .logo>img{
 width: 22px;
 height: 22px;
 margin-top:"-10px";
  }

  .logoname{
    font-size: 16px;
}

}



.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pan {
  position: relative;
  width: 120px;
  height: 60px;
  background: #555;
  border-radius: 60px 60px 20px 20px;
  animation: shake 1s infinite ease-in-out;
}
.handle {
  position: absolute;
  right: -50px;
  top: 15px;
  width: 50px;
  height: 15px;
  background: #444;
  border-radius: 10px;
}

.food {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 80px;
  height: 25px;
  background: orange;
  border-radius: 50%;
  animation: boil 1s infinite alternate;
}

.steam {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 8px;
  height: 25px;
  background: rgba(200,200,200,0.7);
  border-radius: 50%;
  animation: rise 2s infinite;
}



.steam1 { animation-delay: 0s; }
.steam2 { animation-delay: 0.5s; left: 40%; }
.steam3 { animation-delay: 1s; left: 60%; }


/* Animations */
@keyframes shake {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  75% { transform: rotate(-2deg); }
}

@keyframes boil {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}

@keyframes rise {
  0% { transform: translateY(0) scale(1); opacity: 0.7; }
  50% { opacity: 1; }
  100% { transform: translateY(-40px) scale(0.5); opacity: 0; }
}

/* Smaller Logout button on phones */
@media (max-width: 576px) {
  .outbtn {
    display: none;
  }
}